language: ruby
addons:
 code_climate:
   repo_token: 46c8b29dd6711f35704e7c5a541486cbbf2cff8b2df8ce755bfc09917d3c1cbb
branches:
  only:
    - master
    - /.+-stable$/
rvm:
  - 1.8.7
  - 1.9.3
  - 2.0.0-p648
  - 2.1.10
  - 2.2.9
  - 2.3.8
  - 2.4.5
  - 2.5.3
  - 2.6.1
bundler_args: --without development
before_install: 
  - if [ "$TRAVIS_RUBY_VERSION" == "1.8.7" ]; then gem update --system 2.7.9; fi
script: bundle exec rake spec
