language: ruby
addons:
 code_climate:
   repo_token: 46c8b29dd6711f35704e7c5a541486cbbf2cff8b2df8ce755bfc09917d3c1cbb
rvm:
  - 1.8.7
  - 1.9.3
  - 2.1.1
bundler_args: --without development
script: bundle exec rake spec

